
	<p id="notice"></p>
	<%= flash[:notice] %>
	<h1>Books</h1>
	<table>
		<tr align="center">
					<th>Title</th>
					<th>Body</th>
		</tr>
			<% @posts.reverse_each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
    		<td><%= link_to "Show", post_path(post.id), class: "show_#{post.id}" %></td><!-- "show_#{post.id}"に変更予定 -->
  			<td><%= link_to "Edit", edit_post_path(post.id) , class: "edit_#{post.id}" %></td> <!--"edit_#{post.id}"に変更予定-->
  			<td><%= link_to "Destroy", destroy_post_path(post.id), method: :delete, "data-confirm" => "本当に削除しますか？" , class: "destroy_#{post.id}" %></td><!--"destroy_#{post.id}"に変更予定-->
  		</tr>
 	<% end %>
  </table>
 
</div>

<h2>New book</h2>

	<%= form_for(@post) do |f| %>
 
    <label>Title</label>
    <%= f.text_field :title, class: "book_title" %>
	<br> 
    <label>Body</label>
    <%= f.text_area :body, class: "book_body" %>
	<br>
	<br>
	<%= f.submit 'Create Book' %>
 
<% end %>
